{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Entry {{title}}
{% endblock %}

{% block body %}
    <h1>Edit Entry {{title}}</h1>
    {% if error_message is not None %}
    <div class="alert alert-danger" role="alert">
        {{error_message}}
    </div>
    {% endif %}

    <form id="edit_entry" method="post" action="{% url "edit_entry" title %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" name="title" value="{{title}}"></input>
        </div>
        <div class="form-group">
            <label for="content">Content (markdown allowed)</label>
            <textarea class="form-control" name="content">{{content}}</textarea>
        </div>
        <input type="submit" value="Save entry"></input>
    </form>
{% endblock %}
